
/**
 * info projects Science Exchange logo.
 */

.logo[data-logo="info projects Science Exchange"] {
  width: 0;
}

.logo[data-logo="info projects Science Exchange"] > * {
  background-image: url(images/logo.svg);
  margin: 0 0 0 0;
}

.logo[data-logo="info projects Science Exchange"][data-color="black"] > * {
  background-image: url(images/logo-black.svg);
}

.logo[data-logo="info projects Science Exchange"][data-color="white"] > * {
  background-image: url(images/logo-white.svg);
}
